@import "mixins/buttons";

.sc-btn-bob {
  @include button(bob);
}

.sc-btn-ross {
  @include button(ross);
}

.sc-btn-block {
  display: block;
  width: 100%;
}

/**
 * DEPRECATED: only for compatibility
 * TODO: remove asap
 */
.sc-btn-bob-l, .sc-btn-bob-m {
  @include button(bob);
}
.sc-btn-ross-l, .sc-btn-ross-m {
  @include button(ross);
}
