@import "mixins/fonts";
@import "mixins/utils";

.sc-font-s {
  @include font(S);
}

.sc-font-m {
  @include font(M);
}

.sc-font-l {
  @include font(L);
}

.sc-font-xl {
  @include font(XL);
}

.sc-font-xxl {
  @include font(XXL);
}

.sc-font-xxxl {
  @include font(XXXL);
}

.sc-font-silent {
  @include font-silent;
}

.sc-font-bold {
  @include font-bold;
}

h1.sc-font {
    padding: 0 $L;
    @include headline(XL, XXL);
}
h2.sc-font {
    @include headline(L, XL, true, true);
}
h3.sc-font {
  @include headline(M, XL, true, false);
}
h4.sc-font {
  @include headline(M, L, false, true);
}
h5.sc-font {
  @include headline(M, M, false, true);
}
